
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Oswald&display=swap');

:root{
    --purple: #2c2273;
    --orange: #f66003;
}
*{
    margin: 0;
    padding: 0;
}
img{
   max-width: 100%;
}
h2{
   text-transform: uppercase;
   font-weight: 900;
}
.text-orange{
   color: var(--orange);
}
.center{
   max-width: 700px;
   margin: 0 auto;
}
.subheader{
   font-size: 1rem;
   margin: 10px 0;
}
.subheader:before, .subheader:after{
   content: '';
   width: 30px;
   height: 2px;
   display: inline-block;
   background-color: var(--orange);
   margin: 3px 7px;
}
body{
    font-family: 'Montserrat', sans-serif
}
div.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
header svg{
    height: 20px;
    fill: #fff;
    display: inline-block; 
    margin: 0 auto;
}
.icon{
   padding-right: 20px;
}
 header a{
    text-decoration: none;
    color: #fff;
 }
 .lg{
   display: block;
   padding-left: 20px;
   
 }
 header a.logo{
    font-weight: bold;
    font-size: 1.4rem;
 }
 header span{
   font-size: 1rem;
   color: rgba(255, 255, 255, 0.6);
   display: block;
   position: absolute;
   font-style: italic;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: normal;
   line-height: 2px;
 }
 header nav a{
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 8px 6px;
    position: relative;
 }
 header nav a.active:after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 20px;
    height: 3px;
    background-color: #fff;
 }
 div.header-wrapper div:nth-child(3){
    display: flex;
 }
 div.header-wrapper div:nth-child(3) a{
    background-color: #f66003;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
 }
 div.header-wrapper div:nth-child(3) a:nth-child(2){
    background-color: #2c2273;
 }
 #intro{
    background-image: url(photo/md4.avif);
    background-size: cover;
    min-height: 100px;
    overflow: hidden;
    position: relative;
 }
 #intro h1, #intro h2{
    color: #fff;
    text-transform: uppercase;
 }
 #intro h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 3.8rem;
    margin-top: 1rem;
    margin-bottom: 20px;
 }
 #intro h2{
    font-size: 1rem;
    font-weight: normal;
 }
 #intro-content{
    max-width: 400px;
    margin: 0 auto;
    padding: 150px 0;
 }
 .btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 1.2rem;
    text-decoration: none;
    color: #000;
    border: 2px solid #f66003; 
    font-size: .8rem;
    font-weight: bold;   
 }
 .btn.white{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
 }
 @keyframes shadow-flying{
    0%{
        left: -30%;
    }
    50%{
        left: 80%;
    }
    100%{
        left: -30%;
    }
 }
 #intro div.shadow-text{
    position: absolute;
    top: 50px;
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
    animation: shadow-flying 30s infinite;
 }
 
 #services{
    background-color: var(--purple);
    color: #fff;
 }
 .services-list{
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
 }
 .service{ 
     display: grid;
     grid-template-columns: 50px  1fr;
 }
 .service span.number{
   color: var(--orange);
   font-weight: bold;
 }
 .service span.number:after{
   content: '';
   width: 24px;
   height: 1px; 
   display: inline-block;
   margin-bottom: 4px;
   margin-left: 10px;
   background-color: var(--orange);
 }
 .service h2{
   text-transform: uppercase;
   font-weight: 900;
   font-size: 1.3rem;
   margin-bottom: 7px;
 }
 .service a{
   color: rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
   font-size: .8rem;
   margin-bottom: 5px;
   text-decoration: none;
    display: block;
 }
 #about .columns{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   max-width: 700px;
   padding: 50px 0;
   margin: 0 auto;
 }
 .huge-with-image{
   font-size: 10rem;
   line-height: 7.2rem;
   font-weight: 900;
   background-image: url(photo/ce1.avif);
   background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
 }
 #about h3{
   font-size: 1rem;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 #about h3:before{
   content: '';
   width: 50px;
   height: 2px;
   display: inline-block;
   margin-bottom: 5px;
   background-color: var(--orange);
   position: relative;
   left: -10px;
 }
 #about p{
   font-size: .8rem;
   color: #555;
   margin-bottom: 20px;
   line-height: 1.2rem;
 }
 #clients{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   background-color: #F5F0EC;
   gap: 1px;
 }
 #clients div{
   margin-top: 1px;
   margin-bottom: 1px;
   padding: 30px;
   background-color: #fff;
 }
 #clients div img{
   opacity: 0.6;
 }
 .cases{
   background-color: #F5F0EC;
   padding: 50px 0;
   text-align: center;
   position: relative;
 }
 .cases-list{
   display: grid;
   gap: 20px;
   grid-auto-flow: column;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
   overflow-x: scroll;
   padding-bottom: 20px;
 }
 .cases-list img{
   scroll-snap-type: start;
   display: block;
   width: 30vw;
   max-width: none;
   border-radius: 5px; 
 }
 #numbers{
   background-color: var(--purple);
   color: #fff;
 }
 #numbers .columns{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 #numbers .columns > div{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #numbers div.number{
   font-size: 2rem;
   font-weight: 900;
   padding-right: 10px;
 }
 #numbers div.label{
   text-transform: uppercase;
   font-size: 0.8rem; 
   text-align: left;
 }
 #why{
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: center;
 }
 .reasons{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 40px;
   gap: 20px;
 }
 .reason{
   text-align: left;
   background-color: #F5F0EC;
   padding: 20px;
   position: relative;
 }
 .reason .number{
   font-size: 6rem;
   position: absolute;
   z-index: 1;
   top: -25px;
   right: -3px;
   color: #fff;
   font-weight: 900;
 }
 .reasons h3, .reason p{
   position: relative;
   z-index: 3;
 }
 .reasons h3{
   text-transform: uppercase;
   margin-bottom: 10px;
   font-size: 1rem;
   font-weight: 900;
 }
 .reason p{
   font-size: .8rem;
   color: #555;
   margin-bottom: 20px;
 }
 #mission{
   background-image: url(photo/tmD.jpg);
   background-size: cover;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 .boxy-columns{
   display: grid;
   background-color: white;
   grid-template-columns: 1fr 1fr;
 }
 .boxy-columns div:first-child{
   background: linear-gradient(135deg, #F53867 0%, #F89D28 100%);
   color: #fff;
   font-size: 2.6rem;
   line-height: 4rem;
   text-align: justify;
   display: flex;
   align-items: center;
   padding-left: 40px;

 }
 .boxy-columns div:last-child{
   padding: 20px;
 }
 .boxy-columns div:last-child h2{
   font-size: 1.4rem;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .boxy-columns div:last-child p{
   margin-bottom: 40px;
   font-size: .8rem;
   line-height: 1.4rem;
   color: #555;
 }
 #declaration{
   background-color: #F5F0EC;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 #declaration h2{
   font-size: 1.2rem;
 }
 .paragrapgh{
   color: #000;
 }
 .text-orange.subheader{
   padding-bottom: 20px;
 }
.btn.pg{
   background-color: #fff;
}
#declaration .columns{
   display: grid;
   grid-template-columns: 1.4fr 0.6fr;
   gap: 50px;
}
.love{
   padding-left: 100px;
}
.hi{
   background-image: url(photo/ce1.avif);
   padding-left: 50px;
   margin: 0 auto;
   height: 60%;
   width: 30%;
   border-radius: 50%;
   position: relative;
} 
.hi a{
   text-decoration: none;
   
}
.hi svg{
   position: absolute;
   align-items: center;
   top: 33%;
   left: 35%;
   right: 50%;
   bottom: 50%;
   fill: #fff;
   font-size: 30px;
}
#team{
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
}
#team .shadow-text{
  font-size: 8rem;
  position: absolute;
  color: rgba(0,0,0,0.1);
  text-transform: uppercase;
  font-weight: 900;
  top: 50px;
  left: 10px;
  z-index: -1;
}
.members{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


  