
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Oswald&display=swap');

:root{
    --purple: #2c2273;
    --orange: #f66003;
}
*{
    margin: 0;
    padding: 0;
}
img{
   /*max-width: 100%;*/
}
h2{
   text-transform: uppercase;
   font-weight: 900;
}
.text-orange{
   color: var(--orange);
}
.subheader{
   font-size: 1rem;
   margin: 10px 0;
}
.subheader:before, .subheader:after{
   content: '';
   width: 30px;
   height: 2px;
   display: inline-block;
   background-color: var(--orange);
   margin: 3px 7px;
}
body{
    font-family: 'Montserrat', sans-serif
}
div.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
header svg{
    height: 20px;
    fill: #fff;
    display: inline-block; 
    margin: 0 auto;
}
 header a{
    text-decoration: none;
    color: #fff;
 }
 header a.logo{
    font-weight: bold;
    font-size: 1.4rem;
 }
 header nav a{
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 8px 6px;
    position: relative;
 }
 header nav a.active:after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 20px;
    height: 3px;
    background-color: #fff;
 }
 div.header-wrapper div:nth-child(3){
    display: flex;
 }
 div.header-wrapper div:nth-child(3) a{
    background-color: #f66003;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
 }
 div.header-wrapper div:nth-child(3) a:nth-child(2){
    background-color: #2c2273;
 }
 #intro{
    background-image: url(photo/md4.avif);
    background-size: cover;
    min-height: 100px;
    overflow: hidden;
    position: relative;
 }
 #intro h1, #intro h2{
    color: #fff;
    text-transform: uppercase;
 }
 #intro h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 3.8rem;
    margin-top: 1rem;
    margin-bottom: 20px;
 }
 #intro h2{
    font-size: 1rem;
    font-weight: normal;
 }
 #intro-content{
    max-width: 400px;
    margin: 0 auto;
    padding: 150px 0;
 }
 .btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 1.2rem;
    text-decoration: none;
    color: #000;
    border: 2px solid #f66003; 
    font-size: .8rem;
    font-weight: bold;   
 }
 .btn.white{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
 }
 @keyframes shadow-flying{
    0%{
        left: -30%;
    }
    50%{
        left: 80%;
    }
    100%{
        left: -30%;
    }
 }
 div.shadow-text{
    position: absolute;
    top: 50px;
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
    animation: shadow-flying 30s infinite;
 }
 
 #services{
    background-color: var(--purple);
    color: #fff;
 }
 .services-list{
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
 }
 .service{ 
     display: grid;
     grid-template-columns: 50px  1fr;
 }
 .service span.number{
   color: var(--orange);
   font-weight: bold;
 }
 .service span.number:after{
   content: '';
   width: 24px;
   height: 1px; 
   display: inline-block;
   margin-bottom: 4px;
   margin-left: 10px;
   background-color: var(--orange);
 }
 .service h2{
   text-transform: uppercase;
   font-weight: 900;
   font-size: 1.3rem;
   margin-bottom: 7px;
 }
 .service a{
   color: rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
   font-size: .8rem;
   margin-bottom: 5px;
   text-decoration: none;
    display: block;
 }
 #about .columns{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   max-width: 700px;
   padding: 50px 0;
   margin: 0 auto;
 }
 .huge-with-image{
   font-size: 10rem;
   line-height: 7.2rem;
   font-weight: 900;
   background-image: url(photo/ce1.avif);
   background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
 }
 #about h3{
   font-size: 1rem;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 #about h3:before{
   content: '';
   width: 50px;
   height: 2px;
   display: inline-block;
   margin-bottom: 5px;
   background-color: var(--orange);
   position: relative;
   left: -10px;
 }
 #about p{
   font-size: .8rem;
   color: #555;
   margin-bottom: 20px;
   line-height: 1.2rem;
 }
 #clients{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   background-color: #F5F0EC;
   gap: 1px;
 }
 #clients div{
   margin-top: 1px;
   margin-bottom: 1px;
   padding: 30px;
   background-color: #fff;
 }
 #clients div img{
   opacity: 0.6;
 }
 .cases{
   background-color: #F5F0EC;
   padding: 50px 0;
   text-align: center;
 }
 .cases-list{
   display: grid;
   grid-auto-flow: column;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
   overflow-x: scroll;
 }
 .cases-list img{
   scroll-snap-type: start;
   display: block;
   width: 250px;
   max-width: none;
 }